.searchContainer {
	position: relative;
	display: block;
	width: 263px;
	min-height: 250px;
	height: auto;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
	border-radius: 4px;
}

.searchInputContainer {
	border-bottom: solid 0.5px #e3e3e3;
	padding: 8px 6px;
}

.searchInput {
	display: block;
	width: 100%;
	height: 30px;
	border: solid 0.5px #9b9b9b;
	outline: none;
	border-radius: 15px;
	padding: 0 10px;
	padding-left: 26px;
	font-size: 13px;
}

.searchIcon {
	z-index: 5;
	position: absolute;
	width: 13px;
	height: 15px;
	display: block;
	top: 12.5px;
	left: 13px;
}

.searchIcon path {
	fill: #9b9b9b;
}

.autoCompleteContainer {
	width: auto;
	font-family: sans-serif;
	font-size: 13px;
	color: #3e3e3e;
	padding-bottom: 28px;
}

.searchResult {
	width: auto;
	padding: 8px 10px;
	padding-left: 15px;
}

.searchResult:hover {
	background-color: #e3e3e3;
}

.poweredByGoogle {
	position: absolute;
	bottom: 0;
	right: 5px;
}

.removeLocation {
	border-top: solid 0.5px #9b9b9b;
}
